// REGOLE MAIN
// Sezione Intro
#main-intro {
  background-color: $colore-sfondo;
  .container {
    h3 {
      text-align: center;
      @include section-padding;
      @include stileh3;
    }
    @include section-padding;
    .intro-first {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      width: 100%;
      .screenbox {
        text-align: center;
        width: calc(100% / 3);
        img:not(:last-child) {
          width: 80%;
          height: 200px;
        }
        img:last-child {
          width: 100%;
        }
        &:last-child {
          margin: 0 auto;
        }
        p {
          @include section-padding;
          color: $colore-testo;
        }
      }
    }
  }
}
// Sezione How it works
#main-howitworks {
  @include section-padding;
  .paragraph {
    display: flex;
    // @include debug;
    .caption {
      // @include debug;
      flex-basis: 30%;
      img {
        width: 100%;
      }
      &-text h3 {
        @include stileh3;
      }
      &-text p {
        @include section-padding;
        color: $colore-testo;
      }
    }
    .window {
      // @include debug;
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
    padding-bottom: 20px;
  }
}
.right {
  justify-content: flex-end;
}

#main-founders {
  background-color: $colore-sfondo;
  .container {
    .founders {
      h2 {
        font-size: 50px;
        line-height: 64px;
        word-spacing: 7px;
        color: $colore-testo;
      }
      @include section-padding;
      width: 40%;
      margin: 0 auto;
      text-align: center;
      &-box {
        background-color: white;
        border-radius: 5px;
        border: 1px solid blue;
        padding: 20px;
        margin: 10px 0;
      }
      &-credit {
        display: flex;
        padding: 20px 0;
        img {
          padding: 0 5px;
        }
      }
      .join-btn {
        padding: 40px 0;
        a {
          @include bottoni;
          color: white;
          img {
            height: 20px;
            vertical-align: text-bottom;
          }
        }
        p {
          margin: 20px 0;
        }
      }


    }
  }
}
