@mixin debug {
  background-color: pink;
  border: 1px solid red;
}

@mixin section-padding {
  padding: 25px 0;
}

@mixin bottoni {
  background-color: $colore-bottoni;
  padding: 10px 20px;
  border-radius: 5px;
}

@mixin stileh3 {
  font-size: 28px;
  color: $colore-testo;
}
