// REGOLE NAVBAR
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 8px 0;
  .logo {
    padding-left: 5px;
  }
  .menu li {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      a {
        color: white;
      }
      @include bottoni;
      img {
        height: 20px;
        vertical-align: text-bottom;
      }
    }
    a {
      color: $colore-testo;
    }
  }
}
